.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  padding: 18px 35px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-center {
  text-align: center;
}

/* header */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800px;
  font-size: 45px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
}
/* banner styles */
.banner-content {
  width: 585px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
}
.banner-profile-pic {
  width: 580px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 125px;
  margin-bottom: 125px;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 125px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-description {
  font-weight: 600;
}

/* skill sections styles */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
/* resume selection styles */
.resume-container {
  display: flex;
  gap: 24px;
}
.experience-description {
  color: #757575;
}
.experience-subtitle {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.experience-title {
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-column-title {
  font-weight: bold;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume hr {
  margin: 30px 5px;
}
.resume-download-cv {
  margin-top: 50px;
}
